.line54,
.more2 {
  position: absolute;
}
.more2 {
  top: 0;
  left: calc(50% - 83.5px);
  letter-spacing: 1.5em;
  line-height: 150%;
  text-transform: uppercase;
}
.line54 {
  top: 9px;
  left: calc(50% + 62.5px);
  border-top: 2px solid var(--color-darkslategray-100);
  box-sizing: border-box;
  width: 22px;
  height: 2px;
}
.group18,
.icon28 {
  position: absolute;
  top: 2362px;
  left: calc(50% - 304px);
  width: 167px;
  height: 21px;
}
.icon28 {
  top: 0;
  left: calc(50% - 200px);
  width: 400px;
  height: 599.5px;
  object-fit: cover;
}
.div62,
.overshirt-with-pockets1 {
  position: absolute;
  left: calc(50% - 200px);
  letter-spacing: 0.15em;
  line-height: 150%;
  text-transform: uppercase;
}
.overshirt-with-pockets1 {
  top: 622px;
  font-weight: 500;
  display: inline-block;
  width: 350px;
}
.div62 {
  top: 646px;
  font-weight: 900;
}
.div61,
.div63,
.icon29 {
  position: absolute;
  width: 400px;
  
}
.div61 {
  top: 704px;
  left: calc(50% + 240px);
  height: 664px;
}
.div63,
.icon29 {
  top: 0;
  left: calc(50% - 200px);
}
.icon29 {
  height: 600px;
  object-fit: cover;
}
.div63 {
  height: 664px;
}
.div66,
.div67 {
  position: absolute;
  top: 646px;
  letter-spacing: 0.15em;
  line-height: 150%;
  text-transform: uppercase;
}
.div66 {
  left: calc(50% - 200px);
  text-decoration: line-through;
  font-weight: 500;
  color: var(--color-darkslategray-400);
}
.div67 {
  left: calc(50% - 164px);
  font-weight: 900;
  color: var(--color-gray-100);
}
.div65 {
  top: 0;
  left: calc(50% + 240px);
}
.div65,
.div68,
.div70,
.div72,
.div75 {
  position: absolute;
  width: 400px;
  height: 664px;
}
.div68 {
  top: 0;
  left: calc(50% - 640px);
  cursor: pointer;
}
.div70,
.div72,
.div75 {
  top: 704px;
  left: calc(50% - 200px);
}
.div72,
.div75 {
  left: calc(50% - 640px);
}
.div75 {
  top: 1408px;
}
.textured-sweater-with1 {
  position: absolute;
  top: 622px;
  left: calc(50% - 200px);
  letter-spacing: 0.15em;
  line-height: 150%;
  text-transform: uppercase;
  font-weight: 500;
  display: inline-block;
  width: 355px;
}
.container,
.div77,
.div79 {
  position: absolute;
  top: 1408px;
  left: calc(50% - 200px);
  width: 400px;
  height: 664px;
}
.container,
.div79 {
  left: calc(50% + 240px);
}
.container {
  top: 190px;
  left: calc(50% - 860px);
  width: 1280px;
  height: 2072px;
  font-size: var(--caption-size);
  color: var(--color-darkslategray-200);
}
.woman8 {
  position: absolute;
  top: 0;
  line-height: 150%;
}
.kids8,
.man8,
.woman8 {
  left: calc(50% - 95px);
  font-size: var(--font-size-lg);
  font-weight: 500;
  text-align: left;
}
.man8 {
  position: absolute;
  top: 57px;
  line-height: 150%;
}
.kids8 {
  top: 114px;
}
.div82,
.kids8,
.s-m-l1,
.sale8,
.size2 {
  position: absolute;
  line-height: 150%;
}
.sale8 {
  top: 171px;
  left: calc(50% - 95px);
  font-size: var(--font-size-lg);
  font-weight: 500;
  text-align: left;
}
.div82,
.s-m-l1,
.size2 {
  top: 0;
}
.size2 {
  left: calc(50% - 135px);
  text-align: left;
  cursor: pointer;
}
.div82,
.s-m-l1 {
  left: calc(50% + 40px);
}
.div82 {
  left: calc(50% + 126px);
  color: var(--color-silver);
}
.size-group {
  position: absolute;
  top: 298px;
  left: calc(50% - 95px);
  width: 270px;
  height: 21px;
}
.additional1,
.any3,
.div83 {
  position: absolute;
  top: 0;
  line-height: 150%;
}
.additional1 {
  left: calc(50% - 135px);
  color: var(--color-darkslategray-100);
  text-align: left;
}
.any3,
.div83 {
  left: calc(50% + 58px);
}
.div83 {
  left: calc(50% + 126px);
}
.additional-group,
.price-group {
  position: absolute;
  top: 400px;
  left: calc(50% - 95px);
  width: 270px;
  height: 21px;
  color: var(--color-silver);
}
.price-group {
  top: 451px;
}
.reset-all1 {
  position: absolute;
  top: 0;
  left: calc(50% - 54px);
  line-height: 150%;
}
.group-icon2,
.reset-all-group {
  position: absolute;
  top: 5px;
  left: calc(50% + 44px);
  width: 10px;
  height: 8px;
}
.reset-all-group {
  top: 649px;
  left: calc(50% + 67px);
  width: 108px;
  height: 21px;
  color: var(--color-silver);
}
.line55 {
  position: absolute;
  top: 13px;
  left: calc(50% - 176px);
  border-top: 2px solid var(--color-darkslategray-100);
  box-sizing: border-box;
  width: 42px;
  height: 2px;
}
.colour-group,
.group-frame {
  position: absolute;
  top: 0;
  left: calc(50% - 135px);
  width: 270px;
  height: 21px;
}
.group-frame {
  top: 349px;
  left: calc(50% - 95px);
  color: var(--color-silver);
}
.group-child28,
.group-child29 {
  position: absolute;
  top: 305px;
  left: calc(50% - 175px);
  width: 20px;
  height: 2px;
}
.group-child29 {
  top: 248px;
  left: calc(50% - 95px);
  border-top: 0.5px solid var(--color-lightgray);
  box-sizing: border-box;
  width: 270px;
  height: 0;
}
.woman-group {
  position: absolute;
  top: 190px;
  left: calc(50% + 510px);
  width: 350px;
  height: 670px;
  text-align: right;
}
.footer-child9 {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.connect-us50,
.connect-us51,
.connect-us52,
.connect-us53,
.connect-us54,
.instagram5 {
  position: absolute;
  top: 0;
  letter-spacing: 0.15em;
  line-height: 150%;
  text-transform: uppercase;
  font-weight: 500;
}
.instagram5 {
  left: 38.09%;
  color: var(--color-white);
}
.connect-us50,
.connect-us51,
.connect-us52,
.connect-us53,
.connect-us54 {
  left: 30.47%;
}
.connect-us51,
.connect-us52,
.connect-us53,
.connect-us54 {
  left: 22.85%;
}
.connect-us52,
.connect-us53,
.connect-us54 {
  left: 15.24%;
}
.connect-us53,
.connect-us54 {
  left: 7.62%;
}
.connect-us54 {
  left: 0;
}
.connect-us55,
.connect-us56,
.connect-us57,
.connect-us58,
.connect-us59,
.facebook5,
.pinterest5,
.vk5,
.youtube5 {
  position: absolute;
  top: 0;
  left: 64.45%;
  letter-spacing: 0.15em;
  line-height: 150%;
  text-transform: uppercase;
  font-weight: 500;
}
.connect-us56,
.connect-us57,
.connect-us58,
.connect-us59,
.facebook5,
.pinterest5,
.vk5,
.youtube5 {
  left: 72.07%;
}
.connect-us57,
.connect-us58,
.connect-us59,
.facebook5,
.pinterest5,
.vk5,
.youtube5 {
  left: 79.69%;
}
.connect-us58,
.connect-us59,
.facebook5,
.pinterest5,
.vk5,
.youtube5 {
  left: 87.3%;
}
.connect-us59,
.facebook5,
.pinterest5,
.vk5,
.youtube5 {
  left: 94.92%;
}
.facebook5,
.pinterest5,
.vk5,
.youtube5 {
  left: 44.13%;
  color: var(--color-white);
}
.pinterest5,
.vk5,
.youtube5 {
  left: 49.92%;
}
.vk5,
.youtube5 {
  left: 55.71%;
}
.vk5 {
  left: 60.89%;
}
.footer-inner5,
.instagram-parent3 {
  position: absolute;
  height: 3.53%;
  width: 102.55%;
  top: 50.98%;
  right: -1.25%;
  bottom: 45.49%;
  left: -1.3%;
}
.footer-inner5 {
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.privacy-policy5 {
  position: absolute;
  top: 76.08%;
  left: 43.28%;
  font-size: var(--font-size-3xs);
  letter-spacing: 0.15em;
  line-height: 150%;
  text-transform: uppercase;
  color: var(--color-white);
}
.footer-child10 {
  position: absolute;
  height: 0.2%;
  width: 41.72%;
  top: 66.18%;
  right: 29.14%;
  bottom: 33.63%;
  left: 29.14%;
  border-top: 1px solid var(--color-gray-300);
  box-sizing: border-box;
}
.footer5 {
  position: absolute;
  top: 2483px;
  left: 0;
  width: 1920px;
  height: 510px;
  font-size: var(--caption-size);
  color: var(--color-gray-200);
}
.rectangle29,
.srch14 {
  position: absolute;
  top: 0;
}
.rectangle29 {
  height: 100%;
  width: 100%;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: var(--color-white);
}
.srch14 {
  left: 46.98%;
  letter-spacing: 1.5em;
  line-height: 150%;
  text-transform: uppercase;
  cursor: pointer;
}
.span14 {
  font-weight: 900;
}
.cart-311 {
  position: absolute;
  top: 0;
  left: 54.57%;
  letter-spacing: 1.5em;
  line-height: 150%;
  text-transform: uppercase;
}
.line56,
.line57 {
  position: absolute;
  height: 9.52%;
  width: 34.86%;
  top: 42.86%;
  right: 65.43%;
  bottom: 47.62%;
  left: -0.29%;
  border-top: 2px solid var(--color-darkslategray-100);
  box-sizing: border-box;
}
.line57 {
  width: 6.29%;
  right: 56.57%;
  left: 37.14%;
}
.cart-3-parent9 {
  position: absolute;
  height: 100%;
  width: 20.35%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 79.65%;
  cursor: pointer;
  text-align: right;
}
.menu24 {
  position: absolute;
  top: 0;
  left: 39.55%;
  letter-spacing: 1.5em;
  line-height: 150%;
  text-transform: uppercase;
}
.group-child30 {
  position: absolute;
  height: 57.14%;
  width: 16.95%;
  top: 14.29%;
  right: 83.05%;
  bottom: 28.57%;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.menu-parent5 {
  position: absolute;
  height: 100%;
  width: 10.29%;
  top: 0;
  right: 89.71%;
  bottom: 0;
  left: 0;
  cursor: pointer;
}
.srch-parent11 {
  position: absolute;
  height: 15%;
  width: 89.58%;
  top: 42.86%;
  right: 5.21%;
  bottom: 42.14%;
  left: 5.21%;
}
.menu23 {
  position: absolute;
  top: 0;
  left: 0;
  width: 1920px;
  height: 140px;
}
.image-removebg-preview-1-35 {
  position: absolute;
  height: 2.21%;
  width: 5.21%;
  top: 0.1%;
  right: 94.79%;
  bottom: 97.69%;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
  cursor: pointer;
}
.image-removebg-preview-w-15 {
  position: absolute;
  top: 2500px;
  left: 774px;
  width: 372px;
  height: 245.98px;
  object-fit: cover;
}
.catalog {
  position: relative;
  background-color: var(--color-white);
  width: 100%;
  height: 2993px;
  overflow: hidden;
  text-align: left;
  font-size: var(--p-size);
  color: var(--color-darkslategray-100);
  font-family: var(--p);
}
.div61:hover,
.div63:hover,
.div65:hover,
.div68:hover,
.div70:hover,
.div72:hover,
.div75:hover,
.div77:hover,
.div79:hover {
  background-color: lightgray;
  cursor: pointer;
  transform: scale(1.1);
}
.div61,
.div63,
.div65,
.div68,
.div70,
.div72,
.div75,
.div77,
.div79 {
  transition: transform 0.3s ease;
}
