.img-3-icon {
    position: absolute;
    top: 0;
    left: 960px;
    width: 960px;
    height: 1024px;
    object-fit: cover;
}

.group-icon {
    position: absolute;
    top: 452px;
    left: 882px;
    width: 155.26px;
    height: 120px;
    display: none;
}

.hero-slide-3-child {
    position: absolute;
    top: 934px;
    left: 418px;
    width: 122px;
    height: 30px;
    cursor: pointer;
}

.icon {
    position: absolute;
    top: 0;
    left: 0;
    width: 400px;
    height: 600px;
    object-fit: cover;
}

.mask-group-icon,
.rectangle {
    position: absolute;
    top: 170px;
    left: 125px;
    width: 150px;
    height: 150px;
}

.mask-group-icon {
    object-fit: cover;
}

.rectangle {
    border: 0.5px solid var(--color-darkslategray-100);
    box-sizing: border-box;
}

.double-breasted {
    margin: 0;
}

.double-breasted-linen-blazer-container {
    position: absolute;
    top: 332px;
    left: 174px;
    letter-spacing: 0.15em;
    line-height: 150%;
    text-transform: uppercase;
    font-weight: 500;
}

.div,
.item-3 {
    position: absolute;
}

.div {
    top: 360px;
    left: 256px;
    letter-spacing: 0.15em;
    line-height: 150%;
    text-transform: uppercase;
    font-weight: 900;
}

.item-3 {
    top: 212px;
    left: 280px;
    width: 400px;
    height: 600px;
    text-align: right;
    font-size: var(--font-size-5xs);
    color: var(--color-darkslategray-200);
}

.rectangle1,
.srch {
    position: absolute;
    top: 0;
}

.rectangle1 {
    height: 100%;
    width: 100%;
    right: 0;
    bottom: 0;
    left: 0;
}

.srch {
    left: 46.98%;
    letter-spacing: 1.5em;
    line-height: 150%;
    text-transform: uppercase;
    cursor: pointer;
}

.span {
    font-weight: 900;
}

.cart-3 {
    position: absolute;
    top: 0;
    left: 54.57%;
    letter-spacing: 1.5em;
    line-height: 150%;
    text-transform: uppercase;
}

.line,
.line1 {
    position: absolute;
    height: 9.52%;
    width: 34.86%;
    top: 42.86%;
    right: 65.43%;
    bottom: 47.62%;
    left: -0.29%;
    border-top: 2px solid var(--color-darkslategray-100);
    box-sizing: border-box;
}

.line1 {
    width: 6.29%;
    right: 56.57%;
    left: 37.14%;
}

.cart-3-parent,
.menu1 {
    position: absolute;
    top: 0;
}

.cart-3-parent {
    height: 100%;
    width: 20.35%;
    right: 0;
    bottom: 0;
    left: 79.65%;
    cursor: pointer;
    text-align: right;
}

.menu1 {
    left: 39.55%;
    letter-spacing: 1.5em;
    line-height: 150%;
    text-transform: uppercase;
}

.group-child {
    position: absolute;
    height: 57.14%;
    width: 16.95%;
    top: 14.29%;
    right: 83.05%;
    bottom: 28.57%;
    left: 0;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
}

.menu-parent {
    position: absolute;
    height: 100%;
    width: 10.29%;
    top: 0;
    right: 89.71%;
    bottom: 0;
    left: 0;
    cursor: pointer;
}

.srch-parent {
    height: 15%;
    width: 89.58%;
    top: 42.86%;
    right: 5.21%;
    bottom: 42.14%;
    left: 5.21%;
}

.menu,
.shop,
.srch-parent {
    position: absolute;
}

.menu {
    top: 0;
    left: 0;
    width: 100%;
    height: 140px;
}

.shop {
    top: 943px;
    left: 908px;
    letter-spacing: 1.5em;
    line-height: 150%;
    text-transform: uppercase;
    cursor: pointer;
}

.image-removebg-preview-1-1 {
    position: absolute;
    top: 313px;
    left: 653px;
    width: 614px;
    height: 406px;
    object-fit: cover;
}

.hero-slide-3 {
    position: relative;
    background-color: var(--color-white);
    width: 100%;
    height: 1080px;
    overflow: hidden;
    text-align: left;
    font-size: var(--p-size);
    color: var(--color-darkslategray-100);
    font-family: var(--p);
}