.waistcoat-with-contrast1 {
  position: absolute;
  top: 51px;
  left: calc(50% - 310px);
  font-size: var(--h1-size);
  letter-spacing: 0.15em;
  line-height: 150%;
  text-transform: uppercase;
  display: inline-block;
  color: var(--color-darkslategray-200);
  width: 620px;
}
.main-page3 {
  position: absolute;
  top: 0;
  left: calc(50% - 130.5px);
  line-height: 150%;
}
.group-child13,
.group-child14,
.group-child15 {
  position: absolute;
  top: 20.75px;
  left: 0.75px;
  border-top: 0.5px solid var(--color-gainsboro-100);
  box-sizing: border-box;
  width: 70.5px;
  height: 0.5px;
}
.group-child14,
.group-child15 {
  left: 87.75px;
  width: 52.5px;
}
.group-child15 {
  left: 157.75px;
  width: 102.5px;
}
.main-page-catalog-coat-j-parent {
  position: absolute;
  top: 0;
  left: calc(50% - 310px);
  width: 261px;
  height: 21px;
}
.div20,
.round-neck-waistcoat {
  position: absolute;
  line-height: 150%;
}
.div20 {
  top: 167px;
  left: calc(50% - 309px);
  font-size: var(--h1-size);
  letter-spacing: 0.15em;
  text-transform: uppercase;
  font-weight: 900;
  color: var(--color-darkslategray-200);
}
.round-neck-waistcoat {
  top: 33px;
  left: calc(50% - 160px);
  display: inline-block;
  width: 320px;
}
.description {
  position: absolute;
  top: 0;
  left: calc(50% - 159px);
  font-size: var(--caption-size);
  letter-spacing: 0.15em;
  line-height: 150%;
  text-transform: uppercase;
  font-weight: 500;
  color: var(--color-darkslategray-500);
}
.round-neck-waistcoat-featuring-parent {
  position: absolute;
  top: 245px;
  left: calc(50% - 310px);
  width: 320px;
  height: 96px;
}
.color-navy-blue,
.p {
  margin: 0;
}
.p {
  color: var(--color-darkslategray-300);
}
.color-navy-blue-container {
  position: absolute;
  top: 33px;
  left: calc(50% - 130px);
  line-height: 150%;
  display: inline-block;
  width: 260px;
}
.summary {
  position: absolute;
  top: 0;
  left: calc(50% - 129px);
  font-size: var(--caption-size);
  letter-spacing: 0.15em;
  line-height: 150%;
  text-transform: uppercase;
  font-weight: 500;
  color: var(--color-darkslategray-500);
}
.color-navy-blue-height-of-mod-parent {
  position: absolute;
  top: 245px;
  left: calc(50% + 40px);
  width: 260px;
  height: 96px;
}
.rectangle23 {
  position: absolute;
  top: 0;
  left: 0;
  border: 0.5px solid var(--color-lightgray);
  box-sizing: border-box;
  width: 320px;
  height: 52px;
}
.choose-size {
  top: 16px;
  left: calc(50% - 135px);
  line-height: 150%;
}
.choose-size,
.path-icon9,
.s1 {
  position: absolute;
}
.s1 {
  top: 16px;
  left: calc(50% + 77px);
  line-height: 150%;
  text-align: right;
}
.path-icon9 {
  height: 11.54%;
  width: 2.81%;
  top: 44.61%;
  right: 7.81%;
  bottom: 43.85%;
  left: 89.38%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.rectangle-parent7,
.rectangle24 {
  position: absolute;
  top: 0;
  left: 0;
  width: 320px;
  height: 52px;
}
.rectangle24 {
  background-color: var(--color-darkslategray-100);
  width: 270px;
}
.add-to-cart,
.b {
  position: absolute;
  top: 16px;
  left: calc(50% + 100px);
  line-height: 150%;
}
.add-to-cart {
  left: calc(50% - 110px);
  font-weight: 500;
  text-align: left;
}
.rectangle-parent8 {
  position: absolute;
  top: 0;
  left: 350px;
  width: 270px;
  height: 52px;
  cursor: pointer;
  text-align: right;
  color: var(--color-white);
}
.group-parent2 {
  position: absolute;
  top: 381px;
  left: 0;
  width: 620px;
  height: 52px;
}
.group-child16 {
  position: absolute;
  top: 477px;
  left: calc(50% - 310px);
  border-top: 0.5px solid var(--color-lightgray);
  box-sizing: border-box;
  width: 620px;
  height: 0;
}
.waistcoat-with-contrast-piping-group {
  position: absolute;
  top: 0;
  left: calc(50% - 310px);
  width: 620px;
  height: 477px;
}
.match-with {
  position: absolute;
  top: 0;
  left: calc(50% - 310px);
  letter-spacing: 0.15em;
  line-height: 150%;
  text-transform: uppercase;
  font-weight: 500;
  color: var(--color-darkslategray-500);
}
.group-child17,
.group-child18 {
  position: absolute;
  top: 182.5px;
  left: 194.5px;
  border-top: 1px solid var(--color-lightgray);
  box-sizing: border-box;
  width: 11px;
  height: 1px;
}
.group-child18 {
  left: 414.5px;
}
.div21,
.white-shirt-with1 {
  position: absolute;
  letter-spacing: 0.15em;
  line-height: 150%;
  text-transform: uppercase;
}
.white-shirt-with1 {
  top: 290px;
  left: calc(50% - 89px);
  font-weight: 500;
  display: inline-block;
  width: 179px;
}
.div21 {
  top: 331px;
  left: calc(50% - 54px);
  font-weight: 900;
}
.div22,
.icon6 {
  position: absolute;
  left: calc(50% - 90px);
}
.div22 {
  top: 331px;
  text-decoration: line-through;
  letter-spacing: 0.15em;
  line-height: 150%;
  text-transform: uppercase;
  font-weight: 500;
  color: var(--color-darkslategray-400);
}
.icon6 {
  top: 0;
  width: 180px;
  height: 270px;
  object-fit: cover;
}
.white-shirt-with-feathers-group {
  position: absolute;
  top: 48px;
  left: calc(50% - 310px);
  width: 180px;
  height: 349px;
}
.div23 {
  position: absolute;
  top: 331px;
  left: calc(50% - 89px);
  letter-spacing: 0.15em;
  line-height: 150%;
  text-transform: uppercase;
  font-weight: 900;
}
.printed-flowing-trousers-group,
.track-sole-ankle-boots-group {
  position: absolute;
  top: 48px;
  left: calc(50% - 90px);
  width: 180px;
  height: 349px;
}
.track-sole-ankle-boots-group {
  left: calc(50% + 130px);
}
.div26 {
  top: 0;
  left: calc(50% - 90px);
  background-color: rgba(255, 255, 255, 0.8);
  width: 180px;
  height: 270px;
}
.b1,
.div26,
.group14 {
  position: absolute;
}
.b1 {
  top: 124px;
  left: calc(50% - 4px);
  line-height: 150%;
}
.group14 {
  top: 0;
  left: calc(50% - 90px);
  width: 180px;
  height: 270px;
  text-align: right;
  font-size: var(--p-size);
  color: var(--color-darkslategray-100);
}
.match-with-parent {
  position: absolute;
  top: 700px;
  left: calc(50% - 310px);
  width: 620px;
  height: 397px;
  font-size: var(--caption-size);
  color: var(--color-darkslategray-200);
}
.group-parent1 {
  position: absolute;
  top: 0;
  left: calc(50% + 240px);
  width: 620px;
  height: 1097px;
}
.icon10,
.icon11,
.icon12,
.icon13,
.icon14 {
  position: absolute;
  top: 0;
  left: calc(50% - 475px);
  width: 840px;
  height: 1260px;
  object-fit: cover;
}
.icon11,
.icon12,
.icon13,
.icon14 {
  top: 60px;
  left: calc(50% + 295px);
  width: 180px;
  height: 270px;
}
.icon12,
.icon13,
.icon14 {
  top: 350px;
}
.icon13,
.icon14 {
  top: 640px;
}
.icon14 {
  top: 930px;
}
.group-container,
.group15,
.item-inner {
  position: absolute;
  top: 0;
  left: calc(50% - 860px);
  width: 950px;
  height: 1260px;
}
.group-container,
.item-inner {
  width: 1720px;
}
.item-inner {
  top: 190px;
}
.rectangle25 {
  position: absolute;
  top: 1px;
  left: 0;
  border-radius: 80px;
  border: 2px solid #476b4d;
  box-sizing: border-box;
  width: 620px;
  height: 52px;
}
.div27,
.environmental-impact {
  position: absolute;
  top: 17px;
  left: calc(50% - 261.56px);
  line-height: 150%;
  display: inline-block;
  width: 162.75px;
}
.div27 {
  top: 0;
  left: calc(50% + 110px);
  font-size: 36px;
  text-align: right;
  width: 184px;
}
.rectangle-parent9 {
  position: absolute;
  top: 757px;
  left: 1200px;
  width: 620px;
  height: 54px;
  font-family: var(--font-poppins);
}
.sustainable-aproved-by {
  position: absolute;
  top: 0;
  left: calc(50% - 107px);
  line-height: 150%;
  display: inline-block;
  width: 214px;
}
.sustainable-aproved-by-ecology-wrapper {
  position: absolute;
  top: 682px;
  left: calc(50% + 306px);
  width: 214px;
  height: 42px;
  font-family: var(--font-poppins);
}
.footer-child5 {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.connect-us30,
.connect-us31,
.connect-us32,
.connect-us33,
.connect-us34,
.instagram3 {
  position: absolute;
  top: 0;
  letter-spacing: 0.15em;
  line-height: 150%;
  text-transform: uppercase;
  font-weight: 500;
}
.instagram3 {
  left: 38.09%;
  color: var(--color-white);
}
.connect-us30,
.connect-us31,
.connect-us32,
.connect-us33,
.connect-us34 {
  left: 30.47%;
}
.connect-us31,
.connect-us32,
.connect-us33,
.connect-us34 {
  left: 22.85%;
}
.connect-us32,
.connect-us33,
.connect-us34 {
  left: 15.24%;
}
.connect-us33,
.connect-us34 {
  left: 7.62%;
}
.connect-us34 {
  left: 0;
}
.connect-us35,
.connect-us36,
.connect-us37,
.connect-us38,
.connect-us39,
.facebook3,
.pinterest3,
.vk3,
.youtube3 {
  position: absolute;
  top: 0;
  left: 64.45%;
  letter-spacing: 0.15em;
  line-height: 150%;
  text-transform: uppercase;
  font-weight: 500;
}
.connect-us36,
.connect-us37,
.connect-us38,
.connect-us39,
.facebook3,
.pinterest3,
.vk3,
.youtube3 {
  left: 72.07%;
}
.connect-us37,
.connect-us38,
.connect-us39,
.facebook3,
.pinterest3,
.vk3,
.youtube3 {
  left: 79.69%;
}
.connect-us38,
.connect-us39,
.facebook3,
.pinterest3,
.vk3,
.youtube3 {
  left: 87.3%;
}
.connect-us39,
.facebook3,
.pinterest3,
.vk3,
.youtube3 {
  left: 94.92%;
}
.facebook3,
.pinterest3,
.vk3,
.youtube3 {
  left: 44.13%;
  color: var(--color-white);
}
.pinterest3,
.vk3,
.youtube3 {
  left: 49.92%;
}
.vk3,
.youtube3 {
  left: 55.71%;
}
.vk3 {
  left: 60.89%;
}
.footer-inner3,
.instagram-parent1 {
  position: absolute;
  height: 3.53%;
  width: 102.55%;
  top: 50.98%;
  right: -1.25%;
  bottom: 45.49%;
  left: -1.3%;
}
.footer-inner3 {
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.privacy-policy3 {
  position: absolute;
  top: 76.08%;
  left: 43.28%;
  font-size: var(--font-size-3xs);
  letter-spacing: 0.15em;
  line-height: 150%;
  text-transform: uppercase;
  color: var(--color-white);
}
.footer-child6 {
  position: absolute;
  height: 0.2%;
  width: 41.72%;
  top: 66.18%;
  right: 29.14%;
  bottom: 33.63%;
  left: 29.14%;
  border-top: 1px solid var(--color-gray-300);
  box-sizing: border-box;
}
.footer3 {
  position: absolute;
  top: 2534px;
  left: 0;
  width: 1920px;
  height: 510px;
  font-size: var(--caption-size);
  color: var(--color-gray-200);
}
.knit-waistcoat-with,
.similar-items {
  letter-spacing: 0.15em;
  line-height: 150%;
  text-transform: uppercase;
  display: inline-block;
}
.similar-items {
  position: absolute;
  top: 0;
  left: calc(50% - 860px);
  font-size: var(--h2-size);
  width: 620px;
}
.knit-waistcoat-with {
  top: 622px;
  font-weight: 500;
  width: 350px;
}
.div29,
.icon15,
.knit-waistcoat-with {
  position: absolute;
  left: calc(50% - 200px);
}
.div29 {
  top: 646px;
  letter-spacing: 0.15em;
  line-height: 150%;
  text-transform: uppercase;
  font-weight: 900;
}
.icon15 {
  top: 0;
  width: 400px;
  height: 600px;
  object-fit: cover;
}
.div28,
.div30 {
  top: 99px;
  width: 400px;
  height: 664px;
}
.div28 {
  position: absolute;
  left: calc(50% - 860px);
}
.div30 {
  left: calc(50% - 420px);
}
.div30,
.line46,
.more {
  position: absolute;
}
.more {
  top: 0;
  left: calc(50% - 83.5px);
  letter-spacing: 1.5em;
  line-height: 150%;
  text-transform: uppercase;
}
.line46 {
  top: 9px;
  left: calc(50% + 62.5px);
  border-top: 2px solid var(--color-darkslategray-100);
  box-sizing: border-box;
  width: 22px;
  height: 2px;
}
.group16 {
  position: absolute;
  top: 863px;
  left: calc(50% - 84px);
  width: 167px;
  height: 21px;
  font-size: var(--p-size);
  color: var(--color-darkslategray-100);
}
.div32,
.div34 {
  position: absolute;
  top: 99px;
  left: calc(50% + 20px);
  width: 400px;
  height: 664px;
}
.div34 {
  left: calc(50% + 460px);
}
.similar-items-parent {
  position: absolute;
  top: 1550px;
  left: calc(50% - 860px);
  width: 1720px;
  height: 884px;
  font-size: var(--caption-size);
  color: var(--color-darkslategray-200);
}
.rectangle26,
.srch12 {
  position: absolute;
  top: 0;
}
.rectangle26 {
  height: 100%;
  width: 100%;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: var(--color-white);
}
.srch12 {
  left: 46.98%;
  letter-spacing: 1.5em;
  line-height: 150%;
  text-transform: uppercase;
  cursor: pointer;
}
.span12 {
  font-weight: 900;
}
.cart-39 {
  position: absolute;
  top: 0;
  left: 54.57%;
  letter-spacing: 1.5em;
  line-height: 150%;
  text-transform: uppercase;
}
.line47,
.line48 {
  position: absolute;
  height: 9.52%;
  width: 34.86%;
  top: 42.86%;
  right: 65.43%;
  bottom: 47.62%;
  left: -0.29%;
  border-top: 2px solid var(--color-darkslategray-100);
  box-sizing: border-box;
}
.line48 {
  width: 6.29%;
  right: 56.57%;
  left: 37.14%;
}
.cart-3-parent7 {
  position: absolute;
  height: 100%;
  width: 20.35%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 79.65%;
  cursor: pointer;
  text-align: right;
}
.menu20 {
  position: absolute;
  top: 0;
  left: 39.55%;
  letter-spacing: 1.5em;
  line-height: 150%;
  text-transform: uppercase;
}
.group-child19 {
  position: absolute;
  height: 57.14%;
  width: 16.95%;
  top: 14.29%;
  right: 83.05%;
  bottom: 28.57%;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.menu-parent3,
.srch-parent9 {
  position: absolute;
  height: 100%;
  width: 10.29%;
  top: 0;
  right: 89.71%;
  bottom: 0;
  left: 0;
}
.srch-parent9 {
  height: 15%;
  width: 89.58%;
  top: 42.86%;
  right: 5.21%;
  bottom: 42.14%;
  left: 5.21%;
}
.menu19 {
  position: absolute;
  top: 0;
  left: 0;
  width: 1920px;
  height: 140px;
}
.icons8-certificate-100-1,
.image-removebg-preview-1-33 {
  position: absolute;
  top: 675px;
  left: 1200px;
  width: 50px;
  height: 55.26px;
  object-fit: cover;
}
.image-removebg-preview-1-33 {
  height: 2.17%;
  width: 5.21%;
  top: 0.1%;
  right: 94.79%;
  bottom: 97.73%;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  cursor: pointer;
}
.image-removebg-preview-w-13 {
  position: absolute;
  top: 2551px;
  left: 774px;
  width: 372px;
  height: 245.98px;
  object-fit: cover;
}
.item {
  position: relative;
  background-color: var(--color-white);
  width: 100%;
  height: 3044px;
  overflow: hidden;
  text-align: left;
  font-size: var(--p-size);
  color: var(--color-darkslategray-100);
  font-family: var(--p);
}
.div28:hover,
.div30:hover,
.div32:hover,
.div34:hover {
  background-color: lightgray;
  cursor: pointer;
  transform: scale(1.1);
}

.div28,
.div30,
.div32,
.div34{
  transition: all 0.5s ease-in-out;
}