.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
    font-family: sans-serif;
    font-weight: 300;
  }
  
  .payment-img {
    width: auto;
    height: 100px;
    margin-bottom: auto;
    font-family: sans-serif;
    padding: 20px;
  }
  
  form {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  label {
    font-size: 20px;
    margin-bottom: 10px;
  }
  
    input[type=tel] {
    padding: 10px;
    font-size: 16px;
    font-family: sans-serif;
    border-radius: 5px;
    border: 1px solid #ee0404;
    width: 300px;
  }
