.rectangle31 {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: var(--color-white);
    display: none;
}

.span16 {
    font-weight: 900;
}

.cart-313 {
    position: absolute;
    height: 100%;
    width: 45.43%;
    top: 0;
    left: 54.57%;
    letter-spacing: 1.5em;
    line-height: 150%;
    text-transform: uppercase;
    display: inline-block;
}

.line62,
.line63 {
    position: absolute;
    height: 9.03%;
    width: 34.86%;
    top: 43.1%;
    right: 65.43%;
    bottom: 47.87%;
    left: -0.29%;
    border-top: 2px solid var(--color-darkslategray-100);
    box-sizing: border-box;
}

.line63 {
    width: 6.29%;
    right: 56.57%;
    left: 37.14%;
}

.cart-3-parent11,
.menu28 {
    position: absolute;
    height: 100%;
    top: 0;
}

.cart-3-parent11 {
    width: 20.35%;
    right: 0;
    bottom: 0;
    left: 79.65%;
    cursor: pointer;
}

.menu28 {
    width: 60.45%;
    left: 39.55%;
    letter-spacing: 1.5em;
    line-height: 150%;
    text-transform: uppercase;
    display: inline-block;
}

.group-child33 {
    position: absolute;
    height: 56.65%;
    width: 16.95%;
    top: 14.78%;
    right: 83.05%;
    bottom: 28.57%;
    left: 0;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
}

.menu-parent7 {
    position: absolute;
    height: 100%;
    width: 10.29%;
    top: 0;
    right: 89.71%;
    bottom: 0;
    left: 0;
    cursor: pointer;
    text-align: left;
}

.group-parent5 {
    position: absolute;
    height: 15%;
    width: 89.58%;
    top: 42.86%;
    right: 5.21%;
    bottom: 42.14%;
    left: 5.21%;
}

.close8 {
    position: absolute;
    height: 100%;
    width: 66.01%;
    top: 0;
    left: 33.99%;
    letter-spacing: 1.5em;
    line-height: 150%;
    text-transform: uppercase;
    display: inline-block;
}

.group-child34 {
    position: absolute;
    height: 79.35%;
    width: 13.59%;
    top: 2.28%;
    right: 86.63%;
    bottom: 18.37%;
    left: -0.22%;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
}

.close-parent6 {
    height: 15%;
    width: 10.49%;
    top: 42.86%;
    right: 44.77%;
    bottom: 42.14%;
    left: 44.74%;
    cursor: pointer;
    text-align: left;
}

.close-parent6,
.line64,
.menu27 {
    position: absolute;
}

.menu27 {
    height: 13.67%;
    width: 100%;
    top: 0;
    right: 0;
    bottom: 86.33%;
    left: 0;
}

.line64 {
    width: 89.58%;
    top: 56.84%;
    right: 5.21%;
    left: 5.21%;
    border-top: 0.5px solid var(--color-lightgray);
    box-sizing: border-box;
    height: 0;
}

.what-are-you {
    position: absolute;
    height: 10.55%;
    width: 47.92%;
    top: 42.38%;
    left: 26.04%;
    font-size: 65px;
    line-height: 150%;
    font-weight: 300;
    color: var(--color-darkslategray-300);
    text-align: center;
    display: inline-block;
}

::placeholder {
    color: var(--color-darkslategray-300);
}

.what-are-you input[type=text] {
    height: 100%;
    width: 110%;
    top: 5%;
    left: 1px;
    font-size: 65px;
    line-height: 150%;
    font-weight: 300;
    color: var(--color-darkslategray-300);
    text-align: center;
    border: 0;
    outline: none;
}

.image-removebg-preview-1-37 {
    position: absolute;
    height: 6.12%;
    width: 5.21%;
    top: 0.28%;
    right: 94.79%;
    bottom: 93.6%;
    left: 0;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
    object-fit: cover;
    cursor: pointer;
}

.search {
    position: relative;
    background-color: var(--color-white);
    width: 100%;
    height: 1080px;
    overflow: hidden;
    text-align: right;
    font-size: var(--p-size);
    color: var(--color-darkslategray-100);
    font-family: var(--p);
}