.footer-child {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.connect-us,
.connect-us1,
.connect-us2,
.connect-us3,
.instagram {
  position: absolute;
  top: 0;
  letter-spacing: 0.15em;
  line-height: 150%;
  text-transform: uppercase;
  font-weight: 500;
}
.instagram {
  left: 38.09%;
  color: var(--color-white);
}
.connect-us,
.connect-us1,
.connect-us2,
.connect-us3 {
  left: 30.47%;
}
.connect-us1,
.connect-us2,
.connect-us3 {
  left: 22.85%;
}
.connect-us2,
.connect-us3 {
  left: 15.24%;
}
.connect-us3 {
  left: 7.62%;
}
.connect-us4,
.connect-us5,
.connect-us6,
.connect-us7,
.connect-us8,
.connect-us9,
.facebook,
.pinterest,
.vk,
.youtube {
  position: absolute;
  top: 0;
  left: 0;
  letter-spacing: 0.15em;
  line-height: 150%;
  text-transform: uppercase;
  font-weight: 500;
}
.connect-us5,
.connect-us6,
.connect-us7,
.connect-us8,
.connect-us9,
.facebook,
.pinterest,
.vk,
.youtube {
  left: 64.45%;
}
.connect-us6,
.connect-us7,
.connect-us8,
.connect-us9,
.facebook,
.pinterest,
.vk,
.youtube {
  left: 72.07%;
}
.connect-us7,
.connect-us8,
.connect-us9,
.facebook,
.pinterest,
.vk,
.youtube {
  left: 79.69%;
}
.connect-us8,
.connect-us9,
.facebook,
.pinterest,
.vk,
.youtube {
  left: 87.3%;
}
.connect-us9,
.facebook,
.pinterest,
.vk,
.youtube {
  left: 94.92%;
}
.facebook,
.pinterest,
.vk,
.youtube {
  left: 44.13%;
  color: var(--color-white);
}
.pinterest,
.vk,
.youtube {
  left: 49.92%;
}
.vk,
.youtube {
  left: 55.71%;
}
.vk {
  left: 60.89%;
}
.footer-inner,
.instagram-parent {
  position: absolute;
  height: 3.53%;
  width: 102.55%;
  top: 50.98%;
  right: -1.25%;
  bottom: 45.49%;
  left: -1.3%;
}
.footer-inner {
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.privacy-policy {
  position: absolute;
  top: 76.08%;
  left: 43.28%;
  font-size: var(--font-size-3xs);
  letter-spacing: 0.15em;
  line-height: 150%;
  text-transform: uppercase;
  color: var(--color-white);
}
.footer-item {
  position: absolute;
  height: 0.2%;
  width: 41.72%;
  top: 66.18%;
  right: 29.14%;
  bottom: 33.63%;
  left: 29.14%;
  border-top: 1px solid var(--color-gray-300);
  box-sizing: border-box;
}
.footer {
  position: absolute;
  top: 4673px;
  left: calc(50% - 960px);
  width: 1920px;
  height: 510px;
}
.rectangle11,
.srch9 {
  position: absolute;
  top: 0;
}
.rectangle11 {
  height: 100%;
  width: 100%;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: var(--color-white);
}
.srch9 {
  left: 46.98%;
  letter-spacing: 1.5em;
  line-height: 150%;
  text-transform: uppercase;
  cursor: pointer;
}
.span9 {
  font-weight: 900;
}
.cart-4 {
  position: absolute;
  top: 0;
  left: 40.52%;
  letter-spacing: 1.5em;
  line-height: 150%;
  text-transform: uppercase;
}
.line39,
.line40 {
  position: absolute;
  height: 9.52%;
  width: 15.61%;
  top: 42.86%;
  right: 84.76%;
  bottom: 47.62%;
  left: -0.37%;
  border-top: 2px solid var(--color-darkslategray-100);
  box-sizing: border-box;
}
.line40 {
  width: 8.18%;
  right: 73.61%;
  left: 18.22%;
}
.cart-4-parent {
  position: absolute;
  height: 100%;
  width: 15.64%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 84.36%;
  cursor: pointer;
  text-align: right;
}
.menu14 {
  position: absolute;
  top: 0;
  left: 39.55%;
  letter-spacing: 1.5em;
  line-height: 150%;
  text-transform: uppercase;
}
.group-child7 {
  position: absolute;
  height: 57.14%;
  width: 16.95%;
  top: 14.29%;
  right: 83.05%;
  bottom: 28.57%;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.menu-container {
  position: absolute;
  height: 100%;
  width: 10.29%;
  top: 0;
  right: 89.71%;
  bottom: 0;
  left: 0;
  cursor: pointer;
}
.srch-parent6 {
  position: absolute;
  height: 15%;
  width: 89.58%;
  top: 42.86%;
  right: 5.21%;
  bottom: 42.14%;
  left: 5.21%;
}
.menu13,
.rectangle-icon {
  position: absolute;
  width: 1920px;
}
.menu13 {
  top: 0;
  left: calc(50% - 960px);
  height: 140px;
  font-size: var(--p-size);
  color: var(--color-darkslategray-100);
}
.rectangle-icon {
  top: 140px;
  left: 0;
  height: 900px;
  object-fit: cover;
}
.beyound-nature,
.main-page {
  position: absolute;
  line-height: 150%;
}
.beyound-nature {
  top: 41px;
  left: calc(50% - 188.5px);
  letter-spacing: 0.15em;
  text-transform: uppercase;
}
.main-page {
  top: 0;
  left: calc(50% - 68px);
}
.group-child8,
.line-div {
  position: absolute;
  top: 20.75px;
  left: calc(50% - 67.25px);
  border-top: 0.5px solid var(--color-white);
  box-sizing: border-box;
  width: 70.5px;
  height: 0.5px;
}
.group-child8 {
  left: calc(50% + 18.75px);
  width: 48.5px;
}
.main-page-stories-parent {
  position: absolute;
  top: 0;
  left: calc(50% - 68.5px);
  width: 136px;
  height: 21px;
  text-align: left;
  font-size: var(--p-size);
}
.beyound-nature-parent {
  position: absolute;
  top: 510px;
  left: calc(50% - 188px);
  width: 377px;
  height: 89px;
  text-align: center;
  font-size: var(--h1-size);
  color: var(--color-white);
}
.look1-look1-icon,
.look1-look1-icon1,
.look1-look1-icon2 {
  position: absolute;
  top: 969px;
  left: 100px;
  width: 1280px;
  height: 835px;
  object-fit: cover;
}
.look1-look1-icon1,
.look1-look1-icon2 {
  top: 2722px;
  left: 540px;
  cursor: pointer;
}
.look1-look1-icon2 {
  top: 3300px;
  left: 100px;
}
.beyondimg-icon,
.beyondimg-icon1,
.look2-look2st-icon {
  position: absolute;
  top: 4031px;
  left: 980px;
  width: 400px;
  height: 542px;
  object-fit: cover;
}
.beyondimg-icon1,
.look2-look2st-icon {
  left: 1420px;
}
.look2-look2st-icon {
  top: 1559px;
  left: 1200px;
  width: 620px;
  height: 840px;
}
.beyondimg-icon2,
.beyondimg-icon3,
.image-removebg-preview-1-3 {
  position: absolute;
  top: 2010px;
  left: 100px;
  width: 400px;
  height: 542px;
  object-fit: cover;
}
.beyondimg-icon3,
.image-removebg-preview-1-3 {
  left: 540px;
}
.image-removebg-preview-1-3 {
  height: 1.28%;
  width: 5.21%;
  top: 0.06%;
  right: 94.79%;
  bottom: 98.67%;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  cursor: pointer;
}
.image-removebg-preview-w-1 {
  position: absolute;
  top: 4690px;
  left: 774px;
  width: 372px;
  height: 245.98px;
  object-fit: cover;
}
.story {
  position: relative;
  background-color: var(--color-white);
  width: 100%;
  height: 5183px;
  overflow: hidden;
  text-align: left;
  font-size: var(--caption-size);
  color: var(--color-gray-200);
  font-family: var(--p);
}

.menu15,
.stories-parent,
.group-parent,
.rectangle-parent,
.rectangle-group,
.rectangle-container,
.selected-parent,
.rectangle-parent2,
.rectangle-parent3,
.rectangle-parent4 {
  transition: transform 0.3s ease-in-out;
}

.menu15:hover,
.stories-parent:hover,
.group-parent:hover,
.rectangle-parent:hover,
.rectangle-group:hover,
.rectangle-container:hover,
.selected-parent:hover,
.rectangle-parent2,
.rectangle-parent3,
.rectangle-parent4 {
  transform: scale(1.1);
}