.rectangle10,
.srch8 {
  position: absolute;
  height: 100%;
  top: 0;
}
.rectangle10 {
  width: 100%;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: var(--color-white);
  display: none;
}
.srch8 {
  width: 6.05%;
  left: 46.93%;
  letter-spacing: 1.5em;
  line-height: 150%;
  text-transform: uppercase;
  display: inline-block;
  cursor: pointer;
}
.span8 {
  font-weight: 900;
}
.cart-38 {
  position: absolute;
  height: 100%;
  width: 45.43%;
  top: 0;
  left: 54.57%;
  letter-spacing: 1.5em;
  line-height: 150%;
  text-transform: uppercase;
  display: inline-block;
}
.line34,
.line35 {
  position: absolute;
  height: 9.03%;
  width: 34.86%;
  top: 43.1%;
  right: 65.43%;
  bottom: 47.87%;
  left: -0.29%;
  border-top: 2px solid var(--color-darkslategray-100);
  box-sizing: border-box;
}
.line35 {
  width: 6.29%;
  right: 56.57%;
  left: 37.14%;
}
.cart-3-parent6,
.close6 {
  position: absolute;
  height: 100%;
  top: 0;
}
.cart-3-parent6 {
  width: 20.37%;
  right: 0;
  bottom: 0;
  left: 79.63%;
  cursor: pointer;
  text-align: right;
}
.close6 {
  width: 66.01%;
  left: 33.99%;
  letter-spacing: 1.5em;
  line-height: 150%;
  text-transform: uppercase;
  display: inline-block;
}
.group-child6 {
  position: absolute;
  height: 79.35%;
  width: 13.59%;
  top: 2.28%;
  right: 86.63%;
  bottom: 18.37%;
  left: -0.22%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.close-parent4 {
  position: absolute;
  height: 100%;
  width: 11.73%;
  top: 0;
  right: 88.27%;
  bottom: 0;
  left: 0;
  cursor: pointer;
}
.menu12,
.srch-parent5 {
  position: absolute;
  height: 15%;
  width: 89.51%;
  top: 42.86%;
  right: 5.21%;
  bottom: 42.14%;
  left: 5.29%;
}
.menu12 {
  height: 13.67%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 86.33%;
  left: 0;
}
.line36,
.line37 {
  height: 0.3%;
  width: 98.74%;
  right: 0;
  left: 1.26%;
  border-top: 1px solid var(--color-lightgray);
  box-sizing: border-box;
}
.line36 {
  position: absolute;
  top: 56.52%;
  bottom: 43.18%;
}
.line37 {
  top: 23.39%;
  bottom: 76.31%;
}
.line37,
.man6,
.woman6 {
  position: absolute;
}
.woman6 {
  height: 33.73%;
  width: 33.47%;
  top: 0;
  left: 9.87%;
  line-height: 150%;
  display: inline-block;
  -webkit-text-stroke: 1px #a8a8a8;
}
.man6 {
  width: 17.97%;
  top: 33.13%;
  left: 34.33%;
}
.kids6,
.man6,
.sale6,
.stories6 {
  height: 33.73%;
  line-height: 150%;
  display: inline-block;
  -webkit-text-stroke: 1px #a8a8a8;
}
.kids6 {
  position: absolute;
  width: 19.06%;
  top: 33.13%;
  left: 63.15%;
}
.sale6,
.stories6 {
  top: 66.27%;
}
.sale6 {
  position: absolute;
  width: 23.31%;
  left: 69.98%;
}
.stories6 {
  width: 30.48%;
  left: 5.17%;
}
.group5,
.line38,
.stories6 {
  position: absolute;
}
.line38 {
  height: 0.3%;
  width: 98.74%;
  top: 89.66%;
  right: 1.26%;
  bottom: 10.04%;
  left: 0;
  border-top: 1px solid var(--color-lightgray);
  box-sizing: border-box;
}
.group5 {
  height: 65.14%;
  width: 90.73%;
  top: 20.02%;
  right: 5.21%;
  bottom: 14.84%;
  left: 4.06%;
  font-size: var(--font-size-131xl);
}
.image-removebg-preview-2-15 {
  position: absolute;
  top: 903px;
  left: 912px;
  width: 100px;
  height: 130.57px;
  object-fit: cover;
}
.menu11 {
  position: relative;
  background-color: var(--color-white);
  width: 100%;
  height: 1080px;
  overflow: hidden;
  text-align: left;
  font-size: var(--p-size);
  color: var(--color-darkslategray-100);
  font-family: var(--p);
}
